<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@idea.picture, width: '100%') if @idea.picture.attached? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @idea.name %></p>
    <p><b>Description: </b><%= @idea.content %></p>
    <p>
      <%= link_to 'Edit', edit_idea_path(@idea), class: "btn btn-sm btn-info" %>
      <%= link_to 'Delete', @idea, class: "btn btn-sm btn-danger", data: { confirm: '削除してもよろしいですか？' }, method: :delete %>
      <%= link_to 'Back', ideas_path, class: "btn btn-sm btn-light" %>
    </p>
  </div>
</div>

<h3>Comments</h3>

<%= render 'comments/form', comment: @comment %>

<div id="comment-list">
  <%= render partial: 'comment', collection: @comments %>
</div>
